<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>run01.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,114},{100,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{100,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>run02.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{112,110}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{112,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>run03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,110}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{114,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>run04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{102,110}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{102,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>run05.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,216},{84,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,8},{84,104}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>runner.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea76b8a0eec36ced9405bb54e0f75e6d$</string>
            <key>textureFileName</key>
            <string>runner.png</string>
        </dict>
    </dict>
</plist>
