<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guard3_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,100}</string>
                <key>spriteSourceSize</key>
                <string>{85,100}</string>
                <key>textureRect</key>
                <string>{{272,1},{85,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guard3_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,121}</string>
                <key>spriteSourceSize</key>
                <string>{94,121}</string>
                <key>textureRect</key>
                <string>{{1,1},{94,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guard3_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,110}</string>
                <key>spriteSourceSize</key>
                <string>{86,110}</string>
                <key>textureRect</key>
                <string>{{97,1},{86,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guard3_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,106}</string>
                <key>spriteSourceSize</key>
                <string>{85,106}</string>
                <key>textureRect</key>
                <string>{{185,1},{85,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guard3_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,100}</string>
                <key>spriteSourceSize</key>
                <string>{78,100}</string>
                <key>textureRect</key>
                <string>{{359,1},{78,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>guard3.png</string>
            <key>size</key>
            <string>{438,123}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dac0d1fd0c134bba80f0a40a9ddb4edf:3caa54bf148d630d34d3869afffadc71:3ad16bc85e47040ffd984a7f486a891b$</string>
            <key>textureFileName</key>
            <string>guard3.png</string>
        </dict>
    </dict>
</plist>
