<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guard2_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,114}</string>
                <key>spriteSourceSize</key>
                <string>{82,114}</string>
                <key>textureRect</key>
                <string>{{81,1},{82,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guard2_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,107}</string>
                <key>spriteSourceSize</key>
                <string>{96,107}</string>
                <key>textureRect</key>
                <string>{{243,1},{96,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guard2_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,107}</string>
                <key>spriteSourceSize</key>
                <string>{94,107}</string>
                <key>textureRect</key>
                <string>{{341,1},{94,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guard2_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,114}</string>
                <key>spriteSourceSize</key>
                <string>{76,114}</string>
                <key>textureRect</key>
                <string>{{165,1},{76,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guard2_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,117}</string>
                <key>spriteSourceSize</key>
                <string>{78,117}</string>
                <key>textureRect</key>
                <string>{{1,1},{78,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>guard2.png</string>
            <key>size</key>
            <string>{436,119}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:38aacfce37a4163c7bc5331a337b3d69:19beb1683cfbc5bc32c799b96087919a:45d2d42f42189aa1ba5fa63dba513234$</string>
            <key>textureFileName</key>
            <string>guard2.png</string>
        </dict>
    </dict>
</plist>
