<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mobs6_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,79}</string>
                <key>spriteSourceSize</key>
                <string>{60,79}</string>
                <key>textureRect</key>
                <string>{{63,87},{60,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mobs6_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,84}</string>
                <key>spriteSourceSize</key>
                <string>{63,84}</string>
                <key>textureRect</key>
                <string>{{1,1},{63,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mobs6_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,75}</string>
                <key>spriteSourceSize</key>
                <string>{59,75}</string>
                <key>textureRect</key>
                <string>{{66,1},{59,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mobs6_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,83}</string>
                <key>spriteSourceSize</key>
                <string>{60,83}</string>
                <key>textureRect</key>
                <string>{{1,87},{60,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mobs6_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,79}</string>
                <key>spriteSourceSize</key>
                <string>{59,79}</string>
                <key>textureRect</key>
                <string>{{1,172},{59,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mobs4.png</string>
            <key>size</key>
            <string>{126,232}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c65f02b56c8596697f445b19e266d0fa:b5840342b25532400574f23e45a18ec9:12fe5b965f4eecd6895075f7571dde2a$</string>
            <key>textureFileName</key>
            <string>mobs4.png</string>
        </dict>
    </dict>
</plist>
