<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mobs2_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,50}</string>
                <key>spriteSourceSize</key>
                <string>{64,50}</string>
                <key>textureRect</key>
                <string>{{245,1},{64,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mobs2_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,51}</string>
                <key>spriteSourceSize</key>
                <string>{80,51}</string>
                <key>textureRect</key>
                <string>{{81,1},{80,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mobs2_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,51}</string>
                <key>spriteSourceSize</key>
                <string>{80,51}</string>
                <key>textureRect</key>
                <string>{{163,1},{80,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mobs2_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,52}</string>
                <key>spriteSourceSize</key>
                <string>{78,52}</string>
                <key>textureRect</key>
                <string>{{1,1},{78,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mobs2.png</string>
            <key>size</key>
            <string>{310,54}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:51b8bfd91a8bd5a6af873a69bc44632b:464c45cc30d2ff5e5bdde51307cf6522:e3eeed67cbaac292d1d105265ed2535a$</string>
            <key>textureFileName</key>
            <string>mobs2.png</string>
        </dict>
    </dict>
</plist>
