<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mobs7_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,67}</string>
                <key>spriteSourceSize</key>
                <string>{44,67}</string>
                <key>textureRect</key>
                <string>{{1,1},{44,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mobs7_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,65}</string>
                <key>spriteSourceSize</key>
                <string>{44,65}</string>
                <key>textureRect</key>
                <string>{{1,70},{44,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mobs7_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,60}</string>
                <key>spriteSourceSize</key>
                <string>{44,60}</string>
                <key>textureRect</key>
                <string>{{47,1},{44,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mobs7_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,62}</string>
                <key>spriteSourceSize</key>
                <string>{43,62}</string>
                <key>textureRect</key>
                <string>{{68,47},{43,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mobs5.png</string>
            <key>size</key>
            <string>{112,115}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d563d19bcb5e488e2690b5794b341d5f:13e811a0575a562b1d2b53b346bf2645:c069a5a867487e1fdb2929f83476683e$</string>
            <key>textureFileName</key>
            <string>mobs5.png</string>
        </dict>
    </dict>
</plist>
