<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mobs_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,65}</string>
                <key>spriteSourceSize</key>
                <string>{52,65}</string>
                <key>textureRect</key>
                <string>{{1,1},{52,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mobs_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,59}</string>
                <key>spriteSourceSize</key>
                <string>{57,59}</string>
                <key>textureRect</key>
                <string>{{1,68},{57,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mobs_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,62}</string>
                <key>spriteSourceSize</key>
                <string>{52,62}</string>
                <key>textureRect</key>
                <string>{{60,65},{52,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mobs_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,62}</string>
                <key>spriteSourceSize</key>
                <string>{56,62}</string>
                <key>textureRect</key>
                <string>{{55,1},{56,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mobs6.png</string>
            <key>size</key>
            <string>{113,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c3002d471e0c1a58a2647f2ccad7f22:8cd117ddc197368ebc96506e2e14ec20:d83ef848cc5508ff713e4ccca95eb346$</string>
            <key>textureFileName</key>
            <string>mobs6.png</string>
        </dict>
    </dict>
</plist>
